In [106]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

In [107]:
import os
os.path.exists('D:/DSI/Project/Customer_Purchasing_Behavior_Project _1/archive/CPB_Data.csv')  #to check if the file path exists

True

#Load dataset

In [108]:
data = pd.read_csv("D:/DSI/Project/Customer_Purchasing_Behavior_Project _1/archive/CPB_Data.csv")
data

,user_id,age,annual_income,purchase_amount,loyalty_score,region,purchase_frequency
0,1,25,45000,200,4.5,North,12
1,2,34,55000,350,7.0,South,18
2,3,45,65000,500,8.0,West,22
3,4,22,30000,150,3.0,East,10
4,5,29,47000,220,4.8,North,13
...,...,...,...,...,...,...,...
233,234,40,60000,450,7.2,West,20
234,235,38,59000,430,6.9,North,20
235,236,54,74000,630,9.4,South,27
236,237,32,52000,360,5.8,West,18
237,238,31,51000,340,5.6,North,17

In [109]:
#Identify missing values for each column
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 238 entries, 0 to 237
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user_id             238 non-null    int64
 1   age                 238 non-null    int64
 2   annual_income       238 non-null    int64
 3   purchase_amount     238 non-null    int64
 4   loyalty_score       238 non-null    float64
 5   region              238 non-null    object
 6   purchase_frequency  238 non-null    int64
dtypes: float64(1), int64(5), object(1)
memory usage: 13.1+ KB

In [110]:
data.shape

(238, 7)

In [111]:
data.describe()

,user_id,age,annual_income,purchase_amount,loyalty_score,purchase_frequency
count,238.000000,238.000000,238.000000,238.000000,238.000000,238.000000
mean,119.500000,38.676471,57407.563025,425.630252,6.794118,19.798319
std,68.848868,9.351118,11403.875717,140.052062,1.899047,4.562884
min,1.000000,22.000000,30000.000000,150.000000,3.000000,10.000000
25%,60.250000,31.000000,50000.000000,320.000000,5.500000,17.000000
50%,119.500000,39.000000,59000.000000,440.000000,7.000000,20.000000
75%,178.750000,46.750000,66750.000000,527.500000,8.275000,23.000000
max,238.000000,55.000000,75000.000000,640.000000,9.500000,28.000000

#check for null values

In [112]:
#how many missing (null) values are present in each column of the DataFrame
data.isnull().sum()

user_id               0
age                   0
annual_income         0
purchase_amount       0
loyalty_score         0
region                0
purchase_frequency    0
dtype: int64

In [113]:
#Check for duplicate rows
duplicates = data.duplicated().sum()
duplicates

0

In [114]:
#drop column user_id as it is not relevant for the analysis
data = data.drop('user_id', axis=1)
data

,age,annual_income,purchase_amount,loyalty_score,region,purchase_frequency
0,25,45000,200,4.5,North,12
1,34,55000,350,7.0,South,18
2,45,65000,500,8.0,West,22
3,22,30000,150,3.0,East,10
4,29,47000,220,4.8,North,13
...,...,...,...,...,...,...
233,40,60000,450,7.2,West,20
234,38,59000,430,6.9,North,20
235,54,74000,630,9.4,South,27
236,32,52000,360,5.8,West,18
237,31,51000,340,5.6,North,17

In [116]:
#Standardize columns

from sklearn.preprocessing import StandardScaler

#Initialize the StandardScaler
scaler = StandardScaler()

#specify the column that needs to be standarized
column_to_standardize = ['age','annual_income', 'purchase_amount', 'loyalty_score', 'purchase_frequency']

#fit and transform the the column 'annul_income'
data[column_to_standardize] = scaler.fit_transform(data[column_to_standardize])

print(data)

          age  annual_income  purchase_amount  loyalty_score region  \
0   -1.465632      -1.090306        -1.614441      -1.210582  North
1   -0.501151      -0.211563        -0.541153       0.108642  South
2    0.677658       0.667180         0.532134       0.636332   West
3   -1.787125      -2.408420        -1.972203      -2.002117   East
4   -1.036974      -0.914557        -1.471336      -1.052275  North
..        ...            ...              ...            ...    ...
233  0.141835       0.227809         0.174372       0.214180   West
234 -0.072494       0.139934         0.031267       0.055873  North
235  1.642138       1.458049         1.462317       1.375097  South
236 -0.715480      -0.475186        -0.469601      -0.524586   West
237 -0.822645      -0.563060        -0.612706      -0.630124  North

     purchase_frequency
0             -1.712679
1             -0.394950
2              0.483536
3             -2.151922
4             -1.493057
..                  ...
233            0.044293
234            0.044293
235            1.581644
236           -0.394950
237           -0.614571

[238 rows x 6 columns]

In [117]:
#find the unique values in a column 
data["region"].unique()

array(['North', 'South', 'West', 'East'], dtype=object)

In [118]:
print(data.columns)

Index(['age', 'annual_income', 'purchase_amount', 'loyalty_score', 'region',
       'purchase_frequency'],
      dtype='object')

One-hot encoding to 'Region' column

In [119]:
#One-Hot encoding for the column 'Region' to create new binary columns for each unique region 

from sklearn.preprocessing import OneHotEncoder

#Initialize OneHot Encoder
encoder = OneHotEncoder(sparse_output=False)

#Apply encoding only to the 'region' column
region_encoded = encoder.fit_transform(data[['region']])


# Convert the encoded values into a DataFrame 
region_df = pd.DataFrame(region_encoded, columns=encoder.get_feature_names_out(['region']))


# Concatenate the original DataFrame (excluding 'region') with the new encoded columns
data = pd.concat([data.drop('region', axis=1), region_df], axis=1)

print(data.head())

        age  annual_income  purchase_amount  loyalty_score  \
0 -1.465632      -1.090306        -1.614441      -1.210582
1 -0.501151      -0.211563        -0.541153       0.108642
2  0.677658       0.667180         0.532134       0.636332
3 -1.787125      -2.408420        -1.972203      -2.002117
4 -1.036974      -0.914557        -1.471336      -1.052275

   purchase_frequency  region_East  region_North  region_South  region_West
0           -1.712679          0.0           1.0           0.0          0.0
1           -0.394950          0.0           0.0           1.0          0.0
2            0.483536          0.0           0.0           0.0          1.0
3           -2.151922          1.0           0.0           0.0          0.0
4           -1.493057          0.0           1.0           0.0          0.0

In [120]:
print(data.dtypes)

age                   float64
annual_income         float64
purchase_amount       float64
loyalty_score         float64
purchase_frequency    float64
region_East           float64
region_North          float64
region_South          float64
region_West           float64
dtype: object

In [121]:
#create a csv file to store the clean data
data.to_csv('processed_dataset.csv', index=False)